#details {
  

  .image {
    display: grid;
    grid-template-columns: 1fr;

    img {
      width: 100%;
      object-fit: contain;
      height: auto;
      grid-column: 1;
      grid-row-start: 1;
    }
  }

  .image {
    background-color: #000000;

    img {
      height: 256px;
    }
  }

  .image-informations {
    padding: 0 16px;

    .artist {
      display: block;
      color: #CCCCCC;
      margin-bottom: 20px;
    }

    .tab {
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 5px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      text-decoration: none;

      p {
        padding: 0;
        margin: 0;
      }
    }


  }
}

@media only screen and (min-width: 860px) {
  #details {
    margin: 0 auto;
    max-width: 860px;

    display: flex;
    align-items: flex-start;

    .image, .image-informations {
      width: 50%;
    }
  }
}
